
.row
  =render "layouts/profile"

  .large-8.columns.header-padding.large-offset-1
    .row
      %h5= "About #{@user.user_name}:"
      -if @user.bio.present? 
        =@user.bio
      -else
        ="#{@user.user_name} hasn't written anything yet!"
      %hr
    .row
      %h5= "#{@user.user_name}'s activities:"
      -if @user.activities.present?
        =@user.activities
      -else
        ="#{@user.user_name} has no activities set :("
      %hr
    .row
      %h5= "Why #{@user.user_name} is here:"
      -if @user.why_on.present? 
        =@user.activities
      -else
        ="#{@user.user_name} isn't so sure why they are on here"
    %hr

  / .large-9.columns.kit
  /   %dl.sub-nav
  /     %dt Filter:
  /     %dd.active
  /       %a{:href => "#"} All
  /     %dd
  /       %a{:href => "#"} Skiing
  /     %dd
  /       %a{:href => "#"} Snowboard
  /     %dd
  /       %a{:href => "#"} Camping
  /     %dd
  /       %a{:href => "#"} Surfing

  -@kits.each do |kit|
    .kits
      .large-3.columns
        .profile-img
          -if kit.kit_photos.present?
            - kit.kit_photos do |photo|
              -if kit.kit_photos.find(:primary == true).present?
                = image_tag(kit.kit_photos.find(:primary == true))
              -else
                = image_tag(kit.kit_photos.random)
      .large-2.columns
        .label.radius.secondary.text-center
          =kit.category
        .label.radius.secondary.text-center
          =kit.kind
        -if kit.sub_kind.present?
          .label.radius.secondary.text-center
            =kit.sub_kind 

      .large-7.columns
        %h5=link_to "#{kit.title}", kit
        = kit.description
        = kit.location
    %hr


  


  :javascript
    $('#user-rating').raty({ readOnly: true, score: parseFloat($('#user-score').text()) , path: '/assets' });
    $('#user-score').hide();
  
  :javascript
    $('#rating1').raty({ readOnly: true, score: parseFloat($('#end-rating1').text()) , path: '/assets' });
    $('#end-rating1').hide();

  :javascript
    $('#rating2').raty({ readOnly: true, score: parseFloat($('#end-rating2').text()) , path: '/assets' });
    $('#end-rating2').hide();

  :javascript
    $('#rating3').raty({ readOnly: true, score: parseFloat($('#end-rating3').text()) , path: '/assets' });
    $('#end-rating3').hide();

  :javascript
    $('#given-rating').raty({half: true, scoreName: 'endorsement[rating]', path: '/assets'})

  :javascript
    $('#new_endorsement').submit(function(){
      $('#rating').val(($('#given-rating').raty('score')));
    });

  




