

-if current_user
  %ul.right
    %li
      = link_to "Messages", conversations_path
    %li
      = link_to "Add Some Kit", new_kit_path
    %li
      = link_to "Rent Some Kit", kits_path(:view => "new")
    %li.has-dropdown
      = link_to "#{current_user.user_name}", "#"
      %ul.dropdown
        %li
          = link_to(current_user) do
            %span.label.radius.text-center="Reply %:"
            .progress
              %span.meter{:style => "width: #{current_user.replies_percentage}%"}
            .profile-img
              = image_tag(current_user.profile_picture)
            .rating.rating-width 
              #score
                = current_user.rating
            
            
        %li
          = link_to "Payment", "#"
        %li
          = link_to "Other", "#"
        %li
          = link_to "Signout", send("destroy_user_session_path"), method: :delete

    
    

-else
  %ul.right
    %li.has-dropdown
      = link_to "Log In", new_user_session_path
      %ul.dropdown.has-form
        = form_for("user", :url => user_session_path) do |f|
          %li
            = f.label "Email Address"
            = f.text_field :email, placeholder: "Email", size: "150px"
          %hr
          %li
            = f.label "Password"
            = f.password_field :password, placeholder: "Password"
          %li
            %br  
          %li
            = f.submit 'Log in', class: "small button expand radius"
          %li
            %br
      / quick log in drop down
    %li.has-dropdown
      = link_to "Sign Up", new_user_registration_path
      %ul.dropdown
        %li
          = link_to "Kitshare", new_user_registration_path
        %li
          = link_to "Facebook (OAuth)", "#"
        %li
          = link_to "Twitter", "#"
    %li
      = link_to image_tag("facebook-3-48.png", class: "social-media"), "https://www.facebook.com/Kitshare"
    %li
      = link_to image_tag("twitter-3-48.png", class: "social-media"), "https://twitter.com/kitshare"
    %li
      = link_to image_tag("blogger-3-48.png", class: "social-media"), "http://blog.kitshare.org"
    %li
      = link_to "Look around", kits_path(view: "new"), class: "button" 

:javascript
  $('.rating').raty({ readOnly: true, score: parseFloat($('#score').text()) , path: '/assets' });
  $('#score').hide();



