

-if current_user
  %ul.right
    %li
      = link_to "Add Some Kit", new_equipment_path
    %li
      = link_to "Rent Some Kit", equipments_path
    %li.has-dropdown
      = link_to "#{current_user.user_name}", "#"
      %ul.dropdown
        %li
          = image_tag(current_user.profile_picture, class: "logo")
          .rating.rating-width
            #score
              =(current_user.rating)
            

        %li
          = link_to "Profile", "#"
        %li
          = link_to "Payment", "#"
        %li
          = link_to "Other", "#"
        %li
          = link_to "Signout", send("destroy_user_session_path"), method: :delete

    
    

-else
  %ul.right
    %li
      = link_to "Log In", new_user_session_path
    %li
      = link_to "Sign Up", new_user_registration_path
    %li
      = link_to image_tag("facebook-3-48.png", class: "social-media"), "https://www.facebook.com/Kitshare"
    %li
      = link_to image_tag("twitter-3-48.png", class: "social-media"), "https://twitter.com/kitshare"
    %li
      = link_to image_tag("blogger-3-48.png", class: "social-media"), "http://blog.kitshare.org"

:javascript
  $('.rating').raty({ readOnly: true, score: parseInt($('#score').text()) , path: '/assets' });
  $('#score').hide();



